body{
	background: rgb(240,240,240) !important;
}

 h1{
	color: rgb(150,150,150);
	font-size: 60px !important;
	font-family: 'Montserrat';
	font-weight: lighter !important;
	position: relative;
  	top: 55px;
  	left: 35px;
	letter-spacing: 12px


}

h2{
	color: rgb(250,250,250) !important;
	font-size: 60px;
	font-family: 'Montserrat';
	font-weight: lighter;
	letter-spacing: 10px

}

.Meliá{

	text-align: center;
	background-image: url(https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: auto;
	padding: 130px;
	border-radius: 2%;	
	margin-top: 10%

}
.Meliá a {
	color: white;
}

h2:hover {
	background-color: white;
	border-radius: 2%

}